pytest
pytest-asyncio
pytest-cov
httpx
aiosqlite


fastapi
uvicorn
pydantic
pydantic-settings
SQLAlchemy
aiosmtplib
jinja2
python-dotenv
email-validator
psycopg2-binary
alembic
python-multipart
premailer
mjml
